body {
    cursor: url("../../../assets/images/cursor.svg"), auto;
}

.interactable, button, a {
    cursor: url("../../../assets/images/cursor_click.svg"), auto;
}

h3:hover .top-lid {
    animation: animate-width 1s forwards;
}

h3:hover .bottom-lid {
    animation: animate-height 1s forwards;
}

@keyframes animate-width {
    to {
        width: 14;
    }
}

@keyframes animate-height {
    to {
        height: 14;
    }
}

h3:hover .top-lid {
    animation: animate-width-reverse 1s forwards;
}

h3:hover .bottom-lid {
    animation: animate-height-reverse 1s forwards;
}

@keyframes animate-width-reverse {
    to {
        width: 1;
    }
}

@keyframes animate-height-reverse {
    to {
        height: 1;
    }
}