@import "../utilities/borders.css";
@import "../fonts/font-faces.css";
@import "../utilities/global/cursor.css";
@import "htmltags.css";
@import "../utilities/global/selection.css";
@import "layout.css";

:root {
    --foreign-crimson: red;
    --cyborg-yellow: yellow;
    --neon-blue: blue;
    --sprawl-purple: purple;
    color: black;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 0.75rem;
  }
}